@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: rgb(59, 59, 59);
    font-family: "Inter", sans-serif;
}

.container{
    width: 300px;
    padding: 25px;
    background-color: rgb(37, 37, 37);
    border-radius: 15px;
    color: white;
    -webkit-box-shadow: 1px 4px 21px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 21px -6px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 21px -6px rgba(0,0,0,0.75);
}

.header{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.title{
    margin-top: 0;
}

.reload{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: -5px;
}

.reload-img{
    width: 25px;
    height: 25px;
}

.subtitle{
    color: rgb(190, 190, 190);
    font-size: 12px;
    margin-top: -10px;
}

.input-box{
    margin: 20px 0 20px 0;
}

input{
    background-color: rgb(59, 59, 59);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: "Inter", sans-serif;
    margin-right: 10px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus{
    border: none;
    outline: none;
}

input::placeholder{
    color: grey;
}

.formatPlaceholder{
    border: none;
}

.formatPlaceholder::placeholder{
    color: grey;
}

.errorPlaceholder{
    border: 1px solid rgb(255, 68, 68);
}

.errorPlaceholder::placeholder{
    color: rgb(255, 68, 68);
}

.input-box button{
    background-color: rgb(3, 162, 255);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}

.added-nums{
    font-size: 12px;
    width: fit-content;
    margin-top: -10px;
    margin-bottom: 0;
    color: rgb(0, 185, 0);
    background-color: rgba(0, 185, 0, 0.15);
    padding: 4px 8px;
    border-radius: 7px;
}

.result-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 0;
}

.result{
    background-color: rgb(59, 59, 59);
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    margin: 0px 10px;
    font-weight: bold;
}

.peerWin{
    background-color: rgb(70, 187, 70);
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    margin: 0px 10px;
}

.oddWin{
    background-color: rgb(255, 68, 68);
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    margin: 0px 10px;
}

.container2{
    margin-top: 15px;
    width: 300px;
    padding: 25px;
    background-color: rgb(37, 37, 37);
    border-radius: 15px;
    color: white;
    -webkit-box-shadow: 1px 4px 21px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 21px -6px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 21px -6px rgba(0,0,0,0.75);
}

.title2{
    margin-top: 0;
    margin: 0;
}

.numbers-list{
    margin: 0;
    margin-top: 10px;
    color: rgb(190, 190, 190);
}