@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: rgb(59, 59, 59);
    font-family: "Inter", sans-serif;
    color: white;
}

.container{
    width: 300px;
    padding: 25px;
    background-color: rgb(37, 37, 37);
    border-radius: 15px;
    color: white;
    -webkit-box-shadow: 1px 4px 21px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 21px -6px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 21px -6px rgba(0,0,0,0.75);
}

p{
    margin: 0;
}

#result{
    color: rgb(0, 185, 0);
    background-color: rgba(0, 185, 0, 0.15);
    padding: 4px 8px;
    border-radius: 7px;
    margin-left: 2px;
}